<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Hello world</h1>
    <div class="container">
        <form action="{% url 'home' %}" method="POST">
            <input type="text" name="title" placeholder="ex: title">
            {% csrf_token %}
            <button type="submit">submit</button>
        </form>
    </div>
    <div class="result">
        {% if prediction %}
        <p>Prediction: {{prediction}}</p>
        {% endif %}
    </div>
</body>

</html>